root {
    --main-green: #00F934;
}

main {
    display: block;
}

body {
    font-family: 'Tilt Neon', cursive;
    color: #fff !important;
    background-color: #000 !important
}

.neon-text {
    font-family: 'Tilt Neon', cursive;
    color: white;
    text-shadow: 0 0 5px #00F934, 0 0 10px #00F934, 0 0 20px #00F934, 0 0 40px #00F934, 0 0 80px #00F934, 0 0 90px #00F934, 0 0 100px #00F934, 0 0 150px #00F934;
    filter: blur(1px);
}

.neon-text-small {
    color: #00F934;
}

.flicker-letter {
    color: transparent;
    text-shadow: none;
}

#main {
    margin-left: 120px
}

.center {
    text-align: center !important
}

.size-64 {
    font-size: 64px !important
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.sidebar {
    width: 120px;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    height: 110%;
    transform: translateY(-10px);
    background-color: transparent !important;
    /* box-shadow: 0 0 10px #00F934; */
    box-shadow: 10px -5px 10px -5px #00F934;
}

/* .black-leaf-background{
    background-image: url(black-leaves.png);
} */



.bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.padding-large {
    padding: 12px 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* go button */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
}



.go-button {
    --glow-color: #00F934;
    --glow-spread-color: #59ff00c7;
    --enhanced-glow-color: #dfffce;
    --btn-color: transparent;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    /* position: relative; */
    transition: all 0.3s;
}

.go-button::after {
    background-color: var(--glow-spread-color);
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.go-button:hover {
    color: black;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.go-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

/* reg popup */

.form-popup {
    display: none;
    background-color: black;
    padding: 10px;
    top: 180px;
    position: fixed;
    border-radius: 20px;
    width: 520px;
    height: 550px;
    z-index: 9;
    box-shadow: 0 0 10px #00F934;
  }